.win-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.win-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.win-container p {
    margin: 1rem 0;
}